html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-body);
  font-weight: var(--weight-regular);
  color: var(--color-gray-100);
}

body p {
  line-height: 1.5;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

button {
  color: var(--color-gray-100);
}

/* Utility Classes */
.overlay {
  position: fixed;
  background-color: var(--color-secondary);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.active {
  opacity: 0.5;
  pointer-events: all;
}

/* Typography */
.section-heading {
  font-size: var(--font-size-h1);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  text-align: center;
}

.section-subtitle {
  font-size: var(--font-size-body-tiny);
  color: var(--color-green-800);
  line-height: 1.25;
  margin-top: 6px;
  text-align: center;
  margin-inline: 2.8rem;
}
