[data-theme="light"] {
  --color-primary: hsl(51, 18%, 22%);
  --color-secondary: hsl(34, 17%, 16%);

  --bg-color: hsl(34, 17%, 16%);
  --fg-color: hsl(51, 18%, 22%);

  --color-gray-500: hsl(46, 26%, 48%);

  --color-icon-500: hsl(0, 0%, 100%);
}
