/* Typography */
.section-heading {
  font-size: var(--font-size-h1);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  text-align: center;
}

.section-subtitle {
  font-size: var(--font-size-body-tiny);
  color: var(--color-green-800);
  line-height: 1.25;
  margin-top: 6px;
  text-align: center;
  margin-inline: 2.8rem;
}

/* Reused Styles */

.card-hover {
  transition: box-shadow 0.2s ease;
}

.card-hover:hover {
  box-shadow:
    0 0 0.5rem rgba(255, 255, 255, 0.3),
    0 0 1.5rem rgba(255, 255, 255, 0.2);
}

.icon {
  fill: none;
}
