.back-to-top {
  position: fixed;
  width: 100%;
  max-width: 1250px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 14px;
  display: flex;
  justify-content: end;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.back-to-top.active {
  opacity: 1;
  visibility: visible;
}

.back-to-top a {
  margin-right: 14px;
  pointer-events: auto;
}

.back-to-top img {
  width: clamp(38px, 6vw, 50px);
  height: auto;
  filter: drop-shadow(6px 8px 8px rgba(0, 0, 0, 0.25));
}

@media (min-width: 992px) {
  .back-to-top a {
    margin-right: 35px;
  }
}

@media (min-width: 1400px) {
  .back-to-top img {
    width: 60px;
  }

  .back-to-top a {
    margin-right: 0;
  }
}
