.footer {
  background-color: var(--color-primary);
  margin-block-start: clamp(21px, 7vw, 86px);
  padding-bottom: 3.9rem;
}

.footer .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2.8rem;
  gap: clamp(17px, 3vw, 31px);
}

.footer .icons img {
  width: clamp(22px, 3.5vw, 54.5px);
  height: auto;
  cursor: pointer;
}

.footer p {
  font-size: var(--fs-sm-2);
  font-weight: 300;
  text-align: center;
}

.copyright-text {
  margin-top: 1.9rem;
}

.copyright-text span {
  font-weight: 500;
}

.copyright-legacy {
  margin-inline: 3.8rem 3.7rem;
}

.copyright-reserve {
  margin-inline: 5rem;
}

@media (min-width: 992px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
    padding-block: 48px;
  }

  .footer p {
    text-align: right;
    margin-inline: 0;
  }

  .footer {
    padding-bottom: 0;
  }
}
