.header {
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 9px;
}

.logo {
  margin-left: 2rem;
}

.logo img {
  height: 33px;
  width: auto;
}

.open-menu-btn {
  margin-top: 1px;
  margin-bottom: 2px;
  margin-right: 2rem;
}

.open-menu-btn .icon {
  width: 26px;
  height: 18px;
  fill: none;
  color: var(--color-green-800);
}

@media (min-width: 575px) {
  .header__container {
    padding-top: 14px;
    padding-bottom: 17px;
  }

  .logo {
    margin-left: 0;
  }

  .logo img {
    height: 60px;
    width: auto;
  }

  .open-menu-btn {
    display: none;
  }
}
