.header {
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 9px;
}

.header .open-menu-btn {
  margin-top: 1px;
  margin-bottom: 2px;
}
