.header {
  background-color: var(--fg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 9px;
}

.logo {
  margin-left: 2rem;
}

.logo img {
  height: 33px;
  width: auto;
}

.open-menu-btn {
  margin-top: 1px;
  margin-bottom: 2px;
  margin-right: 2rem;
}

.icon-mobile-menu {
  width: 26px;
  height: 18px;
  fill: none;
  color: var(--color-green-800);
}

.overlay {
  position: fixed;
  background-color: var(--color-secondary);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.active {
  opacity: 0.5;
  pointer-events: all;
}

@media (min-width: 576px) {
  .header__container {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .logo {
    margin-left: 30px;
  }

  .logo img {
    height: 56px;
    width: auto;
  }

  .open-menu-btn {
    margin-right: 30px;
  }

  .icon-mobile-menu {
    width: 40px;
    height: 28px;
  }
  .overlay {
    display: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .header__container {
    padding-top: 14px;
    padding-bottom: 17px;
  }

  .logo {
    margin-left: 40px;
  }

  .logo img {
    height: 60px;
    width: auto;
  }

  .open-menu-btn {
    display: none;
  }
}

@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
  .logo {
    margin-left: 0;
  }
}
