.navbar {
  position: fixed;
  background-color: var(--color-primary);
  top: 0;
  bottom: 0;
  left: -212px;
  max-width: 212px;
  width: 100%;
  z-index: 2;
  transition: 0.3s;
}

.navbar .close-menu-btn {
  padding: 15px;
  margin-left: auto;
}

.navbar .close-menu-btn:hover {
  background-color: var(--color-secondary);
}

.navbar,
.navbar ul li,
.navbar .theme-option {
  text-align: center;
}

.theme-btn {
  margin-inline: auto;
  width: 100%;
  background-color: var(--color-green-800);
}

.theme-btn span img {
  display: inline;
  padding: 1px;
  transform: rotate(180deg);
  transition: 0.1s;
}

.theme-btn:hover span img {
  transform: rotate(0);
}

.nav-link {
  font-size: var(--font-size-sm-1);
  font-weight: var(--weight-bold);
  padding: 10px;
}

.nav-link:hover {
  background-color: var(--color-green-800);
}

.dive-deeper img {
  display: inline-block;
  width: 1.3rem;
  height: auto;
  margin-left: 6px;
}

.dive-deeper {
  background-color: var(--color-green-800);
  width: 138px;
  height: 31px;
  border-radius: 19px;
  margin-inline: auto;
  padding: 7px 18px;
  font-size: var(--font-size-sm-1);
  font-weight: var(--weight-bold);
  line-height: normal;
  margin-top: 33px;
}

.dive-deeper:hover {
  background-color: var(--color-secondary);
}

.nav-active {
  left: 0;
}
