.navbar {
  position: fixed;
  background-color: var(--color-primary);
  top: 0;
  bottom: 0;
  max-width: 212px;
  width: 100%;
  left: 0;
  z-index: 2;
}

.navbar .close-menu-btn {
  padding: 15px;
  margin-left: auto;
}

.navbar .close-menu-btn:hover {
  background-color: var(--color-secondary);
}

.navbar,
.navbar ul li,
.navbar .theme-option {
  text-align: center;
}

.theme-btn {
  margin-inline: auto;
  width: 100%;
}

.theme-btn span img {
  display: inline;
  padding: 1px;
}

.nav-link {
  font-size: var(--font-size-sm-1);
  font-weight: var(--weight-bold);
  padding: 10px;
}

.nav-link:hover {
  background-color: var(--color-green-800);
}
