/* Home */
.profile-img {
  width: 120px;
  height: auto;
  margin-inline: auto;
  border-radius: 20px;
  box-shadow: var(--shadow-lg);
}

.profile-description {
  text-align: center;
}

.profile-title {
  font-weight: var(--weight-bold);
  font-size: 1.5rem;
  color: var(--color-green-800);
  text-transform: uppercase;
  margin-top: 2.2rem;
  line-height: normal;
}

.profile-name {
  font-weight: 800;
  font-size: var(--font-size-display);
  line-height: normal;
  text-transform: uppercase;
  margin-top: 1.2rem;
}

.profile-text {
  padding-inline: 5.4rem;
  margin-top: 1.2rem;
}

.profile-dive-deeper {
  background-color: var(--color-primary);
  width: 138px;
  height: 31px;
  border-radius: 19px;
  margin-inline: auto;
  padding: 7px 18px;
  font-size: var(--font-size-sm-1);
  font-weight: var(--weight-bold);
  line-height: normal;
  margin-top: 33px;
}

.profile-dive-deeper img {
  display: inline-block;
  width: 1.3rem;
  height: auto;
  margin-left: 6px;
}

.profile-dive-deeper:hover {
  background-color: var(--color-green-800);
}

.about-me {
  background-color: var(--color-primary);
  margin-top: 4.7rem;
  margin-inline: 2rem;
  padding-inline: 2rem;
  text-align: center;
  border-radius: 2rem;
}

.about-me h2 {
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  margin-top: 1.7rem;
  display: inline-block;
  line-height: normal;
  font-size: var(--font-size-h2);
}

.about-me img {
  margin-top: 1.9rem;
  border-radius: 20px;
}

.about-me p {
  padding-top: 1.3rem;
  padding-bottom: 2rem;
}

/* My Discoveries */

.theory-card {
  background-color: var(--color-primary);
  margin-top: 3.1rem;
  margin-inline: 2rem;
  border-radius: 20px;
  padding: 2.3rem 2rem 1.6rem 2rem;
  text-align: center;
  max-width: fit-content;
}

.theory-card:first-of-type {
  margin-top: 2.8rem;
}

.theory-card img {
  border-radius: var(--radius-1);
}

.theory-card h2 {
  font-size: var(--font-size-h3);
  font-weight: var(--weight-bold);
  margin-top: 10px;
}

.theory-card p {
  margin-top: 6px;
  max-width: 23.7rem;
  margin-inline: auto;
}

.book-card-container {
  margin-top: 4.7rem;
  text-align: center;
}
.book-card-container h1 {
  font-size: var(--font-size-h2);
  text-transform: uppercase;
  font-weight: var(--weight-bold);
}

.book-card {
  margin-top: 2.7rem;
  background-color: var(--color-primary);
  border-radius: 3.2rem;
  padding: 2.3rem 2rem 1.5rem 2rem;
  margin-inline: 2rem;
  max-width: fit-content;
}

.book-card img {
  border-radius: var(--radius-1);
}

.book-card h2 {
  font-size: var(--font-size-h3);
  font-weight: var(--weight-bold);
  margin-top: 1rem;
}

.book-card p {
  margin-top: 6px;
  margin-inline: auto;
  padding-inline: 2px;
  max-width: 80rem;
}

/* Gallery */
.gallery-container {
  display: flex;
  border: 1px solid var(--color-gray-500);
  flex-direction: column;
  border-radius: clamp(10px, 3vw, 30px);
  gap: 14px;
  align-items: center;
  padding: clamp(8px, 1.5vw, 20px) clamp(10px, 2vw, 24px);
  max-width: fit-content;
  margin-inline: auto;
  margin-top: 1.7rem;
}

.gallery-container img {
  border-radius: clamp(10px, 3vw, 30px);
  max-height: clamp(75px, 20vw, 240px);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
  width: auto;
  flex-shrink: 1;
  transition: transform 0.3s ease;
}

.gallery-container img:hover {
  transform: scale(1.05);
}

.first-row {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.second-row {
  display: flex;
  flex-direction: row;
  gap: 13px;
  width: 100%;
  justify-content: space-between;
}

/* My legacy */
.legacy {
  text-align: center;
}

.legacy-heading {
  font-size: var(--font-size-h2);
  text-transform: uppercase;
  font-weight: var(--weight-bold);
  margin-top: 3.4rem;
}

.legacy-text {
  margin-top: 3.5rem;
  margin-inline: 2.4rem;
}

.research-fund {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
}

.research-fund img {
  width: clamp(6.8rem, 10vw, 11.1rem);
  height: auto;
}
.fund-text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.fund-text h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--weight-bold);
}

.fund-text p {
  width: 23rem;
}

/* Contact Me */
.contact-form {
  border: 1px solid var(--color-gray-500);
  border-radius: 2rem;
  margin-top: 2.4rem;
  margin-inline: 2rem;
  padding: 1.3rem 1.4rem 2rem;
}

.contact-form p {
  text-align: center;
}

.user-data {
  margin-top: 2.7rem;
  margin-inline: 1.2rem;
}

.input-field {
  margin-bottom: 1.6rem;
}

.input-field:last-of-type {
  margin-bottom: 0;
}

label {
  margin-left: 2px;
}

input {
  margin-top: 8px;
  width: 100%;
  height: 3.3rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 1rem;
  padding: 8px 14px 10px;
  color: var(--color-gray-500);
}

input::placeholder {
  color: var(--color-gray-500);
  font-size: var(--font-size-sm-3);
}

.submit-btn {
  background-color: var(--color-green-800);
  width: 100%;
  border-radius: 1rem;
  font-weight: var(--weight-bold);
  line-height: 1.5;
  text-align: center;
  padding-block: 7px;
  margin-top: 2.6rem;
  transition: 0.1s;
}

.submit-btn:hover {
  background-color: #181513;
  color: var(--color-gray-500);
}

.contact-links {
  text-align: center;
  margin-top: 2.1rem;
  margin-inline: 2.7rem;
}

.contact-links_list {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-top: 2.1rem;
}

.contact-links_list div {
  background-color: var(--color-primary);
  border-radius: 2rem;
  padding: 2.6rem 2.6rem 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
}

.contact-links_list div img {
  width: 6.3rem;
  height: auto;
}

.contact-links_list div h3 {
  font-weight: var(--weight-regular);
  font-size: var(--font-size-body-md);
  line-height: 1.5;
}
